@{
    ViewData["Title"] = "Report Overview";
}

<h2>Reports</h2>
<ul>
    <li><a href="/Report/ProductReport">Product Report</a></li>
    <li><a href="/Report/CategoryReport">Category Report</a></li>
    <li><a href="/Report/OrderReport">Order Report</a></li>
    <li><a href="/Report/DiscountReport">Discount Report</a></li>
    <li><a href="/Report/ReviewReport">Review Report</a></li>
</ul>
